body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background: url(../images/stripes-light.png);
  background-repeat: repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", Times, Times New Roman, serif;
}
h1 {
  font-size: 29px;
  font-weight: bold;
}
header {
  background: #ffffff;
  height: 93px;
  width: 100%;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 40px;
}
.logo {
  color: #ffffff;
  background-color: #4aaaa5;
  padding: 0 30px;
  float: left;
  height: 93px;
  line-height: 93px;
}
nav {
  float: right;
}
.navigation-item {
  font-size: 18px;
  color: #979ca7;
  float: left;
  line-height: 93px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
.navigation-item:hover {
  color: #111111;
  cursor: pointer;
}
nav .divider {
  line-height: 93px;
  color: #dddddd;
  float: left;
}
.banner,
.main-section {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.main-section {
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
.main-section .content {
  padding: 30px;
}
.section-header {
  color: #4aaaa5;
}
hr {
  border-top: 0;
  border-bottom: 3px solid #dddddd;
  margin-top: 36px;
  margin-bottom: 32px;
}
.profile-pic {
  width: 256px;
}
